@import "tailwindcss";

@theme {
    --font-impact: "Impact", "JetBrains Mono", sans-serif;
    --font-bai-jamjuree: "bai jamjuree", "JetBrains Mono NL", sans-serif;
    --font-jetbrains: "JetBrains Mono", sans-serif;
    --color-white-main: rgb(222, 220, 217);
    --color-black-light: rgb(34, 36, 37);
    --color-black-dark: rgb(12, 12, 13);
    --color-black-dark-text: #313131;
    --color-blue-link: #81b3ff;
    --spacing: 1px;

    --breakpoint-xs: 30rem;

    --animate-fade-in: fade-in 0.3s ease-in;
    --animate-fade-out: fade-out 0.3s ease-out;
    --animate-scrolling-right: scrolling-right 90s linear infinite;
    --animate-scrolling-left: scrolling-left 60s linear infinite;

    @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes fade-out {
        from {opacity: 1;}
        to {opacity: 0;}
    }

    @keyframes scrolling-right {
        from { transform: translateX(-1300px); }
        to { transform: translateX(0); }
    }

    @keyframes scrolling-left {
        from { transform: translateX(-200px); }
        to { transform: translateX(-1300px); }
    }
}

:root {
    --main-drak-black-color: rgb(12, 12, 13);
    --main-light-black-color: rgb(34, 36, 37);
    --main-white-color:rgb(222, 220, 217);
    --view-dark-text-color: #313131;
    --link-color: #81b3ff;
}
